*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: rgb(12, 12, 66);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10;
}
.imagem-cabecalho{
    width: 15%;
}
.cabeIcalho{
    color: white;
}
.menu1{
display: inline-block;
font-size: 20px;
margin: 0 30px;
}
.menu2{
display: inline-block;
font-size: 20px;
margin: 0 30px;
}
.menu3{
display: inline-block;
font-size: 20px;
margin: 0 30px;
}
.menu4{
display: inline-block;
font-size: 20px;
margin: 0 30px;
}
.imagem-menu{
    background-color: rgb(12, 12, 66);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.img-informacao{
    width: 10%;
}
.img-oquee{
    width: 10%;
}
.img-aulas{
    width: 10%;
}
.img-codigo{
    width: 10%;
}