*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color:navy;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10;
}
.imagem-cabecalho{
    width: 15%;
}
.cabeccalho{
    color: white;
}
.Menu1{
background-image: linear-gradient(navy,lightskyblue );
padding: 40px 0;
}
.parte0{
    margin: 0 20px;
    width: 10%;
}
.parte1{
    margin: 0 20px;
}
.parte2{
    margin: 0 20px;
}
.parte3{
    margin: 0 20px;
}
.imagem-menu1{
    background-image: linear-gradient(lightskyblue, navy);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: normal;
    padding: 20px 0;
}
.imagem1{
    width: 10%;
}
.imagem2{
    width: 10%;
}
.imagem3{
    width: 10%;
}
.Desenvolvimento1{
    background-image: linear-gradient(rgb(6, 42, 65), rgb(69, 121, 233));
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: normal;
    padding: 0 20px;
}
.texto-desenvolvimento{
    display: inline-block;
    font-size: 20px;
    padding: 0 30px;
}
.imagem4{
    width: 8%;
}
.rodape{
    background-color: navy;
    color: white;
}